@font-face {
    font-family: Neris-Light;
    src: url(../fonts/Neris/Neris-Light.otf);

}




@keyframes circle-in-top-right {
    from {
        clip-path: circle(0% at right center);
    }

    to {
        clip-path: circle(200% at left center);
    }
}

[transition-style="in:circle:right-center"] {
    animation: 1s cubic-bezier(.25, 1, .30, 1) circle-in-top-right both;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    direction: ltr;
    font-family: Neris-Light !important;
    width: 100% !important;
    max-width: 100%;
}
.GreyBodyBg{
    background-color: #F8F8F8;
}
.WhiteBodyBg{
    background-color: white !important;
}
/********
*********
Navbar
*********
**********/
#wraper {
    background-position: top;
    background-size: cover !important;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 100vh;
}

nav.navbar {
    background-color: transparent;
}

nav.navbar  img.Logo  {
    filter: brightness(0) invert(1);
}

nav.navbar.blackNav {
    background-color: #121212e5 !important;
    transition: background-color 0.5s;
}

nav.navbar ul.navbar-nav {
    text-align: center;
    margin: 0px auto;
    justify-content: space-between;
}

nav.navbar ul.navbar-nav li.nav-item {
    margin-right: 20px;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: white;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 100;
    opacity: 80%;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link.active{
    font-weight: bolder;
    opacity: 100%;
}
nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(211, 211, 211);
}

nav.navbar .NavSocial img:hover {
    filter: brightness(80%);
}

/********
*********
End Navbar
*********
**********/



/********
*********
Carousel
*********
**********/
section.CarouselPart .carousel .carousel-inner .carousel-item {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

section.CarouselPart .carousel .carousel-inner .carousel-item.active {
    animation-duration: 3s;
}

section.CarouselPart .carousel .carousel-inner .carousel-item .overlay {
    background-image: url(../images/OVERLAY.png);
    width: 100%;
    max-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    position: relative;

}

#wraper .overlay {
    background-image: url(../images/OVERLAY.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#wraper #carousel-item-one, .three {
    background-image: url(../images/Homescreen1.png);

}


#carousel-item-Two, .four {
    background-image: url(../images/Dubailinktravel.png);
}


#carousel-item-Three, .five {
    background-image: url(../images/GTE.png);
}

#carousel-item-Four, .six {
    background-image: url(../images/RoyalLifestyl.png);
}

#carousel-item-Five, .seven {
    background-image: url(../images/STS.png);
}

#carousel-item-Six, .one {
    background-image: url(../images/tripstick.png);
}

#carousel-item-Seven, .two {
    background-image: url(../images/NIU.png);
}


section.CarouselPart .carousel .carousel-inner .carousel-item .carouselImageText {
    z-index: 3;
    color: white;
}


section.CarouselPart .carousel .carousel-inner .carousel-item .carouselImageText h1 {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 89px;
    font-weight: 500;
    animation: fadeIn 5s;

}

section.CarouselPart .carousel .carousel-inner .carousel-item .carouselImageText p {
    font-size: 30px;
    line-height: 40px;
    font-family: Neris-Light;
    font-weight: 400;
    opacity: 80%;
    animation: fadeIn 5s;


}

section.CarouselPart .carousel .carousel-inner .carousel-item .carousel-caption {
    width: 15%;
    height: 20%;
    right: 50%;
    transform: translateX(50%);
    left: unset;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.205);
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 0;
}

section.CarouselPart .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 14px;
    font-family: Neris-Light;
    font-weight: 400;
    opacity: 80%;
    margin-top: 10px;
}

section.CarouselPart .carousel .carousel-inner .carousel-item .carousel-caption .down {
    width: 20px;
}

section.CarouselPart .carousel .carousel-inner .carousel-item .carousel-caption img {
    width: 40%;
    object-fit: cover;
}

section.CarouselPart .carousel .carousel-control-prev {
    right: 0 !important;
    left: unset;
    top: 50%;
    height: 50px;
}

section.CarouselPart .carousel .carousel-control-prev p, section.CarouselPart .carousel .carousel-control-next p {
    display: none;
}

section.CarouselPart .carousel .carousel-control-prev:hover img, section.CarouselPart .carousel .carousel-control-next:hover img {
    display: none;
}

section.CarouselPart .carousel .carousel-control-prev:hover p, section.CarouselPart .carousel .carousel-control-next:hover p {
    display: block;
}

section.CarouselPart .carousel .carousel-control-next {
    right: 0 !important;

    top: 55%;
    height: 50px;
}

section.CarouselPart .carousel .input-group {
    position: absolute;
    width: 50%;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

section.CarouselPart .carousel .input-group input {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.205);

    color: white;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    padding: 10px 20px;
    box-shadow: none !important;

}

section.CarouselPart .carousel .input-group input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8;
    /* Firefox */
}

section.CarouselPart .carousel .input-group input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.8;

}

section.CarouselPart .carousel .input-group input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    opacity: 0.8;
}

section.CarouselPart .carousel .input-group .inputSearch {
    position: relative;
}

section.CarouselPart .carousel .input-group svg {
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 20px;
    transform: translateY(-50%);
    color: white;
}

/********
*********
End Carousel
*********
**********/



/********
*********
Landing Page Contnet
*********
**********/

/* Brand Carousel */

#carouselExampleSlidesOnly {
    filter: drop-shadow(0px 3px 6px #CBCBCB29);

}

#carouselExampleSlidesOnly .carousel-inner .carousel-item {
    transition: 5s ease all !important;
}
#carouselExampleSlidesOnly .carousel-inner .carousel-item .row {
    background-color: white;
    max-width: 100vw;
    padding: 20px 0;
}

#carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

#carouselExampleSlidesOnly .carousel-inner .carousel-item .col-md-2 img {
    filter: brightness(50%);
}

/*End Brand Carousel */

/* Photo Description */
section.LandingPage .PhotoDescription ,section.DubaiLink .PhotoDescription{
    background-color: #F8F8F8;
}

section.LandingPage .PhotoDescription h4.TitleDescription, .Map h4.TitleDescription, section.DubaiLink .PhotoDescription  h4.TitleDescription,section.DubaiLink  .PhotoDescriptionNoAnim    h4.TitleDescription {
    font-size: 40px;
    font-weight: bold;
    color: #2A7076;
    text-transform: uppercase;
    line-height: 50px;
    opacity: 0;

}
.PhotoDescriptionNoAnim  p.Description{
    opacity: 1 !important;
}
.PhotoDescription p.Description{
    font-size: 22px;
    color: #2A7076;
    line-height: 29px;
    opacity: 0;
}

section.LandingPage .PhotoDescription img {
    opacity: 0;
}

.animated {
    animation: fadeInUp 0.2s linear;
    transition: 0.1s ease all;
    opacity: 1 !important;
}

/*End Photo Description */

/* Informative Carousel */
section.LandingPage .infromativeSlider .carousel {
    background: transparent;
}

section.LandingPage .infromativeSlider .carousel-cell {
    width: 66%;
    min-height: 70vh;
    height: fit-content;
    margin-right: 10px;
    background: transparent;
    border-radius: 5px;
    counter-increment: carousel-cell;
    border-radius: 20px;
    opacity: 0.5;
    height: 90%;

}

section.LandingPage .infromativeSlider .carousel-cell.is-selected {
    opacity: 1 !important;
    transition: padding-top 0.5s, opacity 0.5s;
    transition-timing-function: linear;
}

section.LandingPage .infromativeSlider .carousel-cell .overlay {
    width: 90%;
    padding: 12.5px 0;
    margin: auto;
    border-radius: 5px;

}

section.LandingPage .infromativeSlider .carousel-cell.is-selected .overlay {
    width: 100%;
    transition: width 0.2s;
    transition-timing-function: linear;
    padding: 0px 0px !important;
    position: relative;
    border-radius: 20px;

}



section.LandingPage .infromativeSlider .carousel-cell .overlay {
    position: relative;
    border-radius: 20px;
}

section.LandingPage .infromativeSlider .carousel-cell.is-selected:hover .overlay {
    background-image: linear-gradient(#00000000, rgba(0, 0, 0, 0.993));
    z-index: 1000;
}

section.LandingPage .infromativeSlider .carousel-cell .overlay img {
    height: 100%;
}

section.LandingPage .infromativeSlider .carousel-cell a.MoreDetails {
    position: absolute;
    left: 5%;
    bottom: 10%;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
}

section.LandingPage .infromativeSlider .carousel-cell:hover a.MoreDetails button div {
    width: 30px;
    height: 30px;
}

section.LandingPage .infromativeSlider .carousel-cell:hover a.MoreDetails p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
    color: white;
}

section.LandingPage .infromativeSlider .carousel-cell:hover a.MoreDetails button div svg {
    transition: 0.5s ease all;
    font-size: 15px;
}

section.LandingPage .infromativeSlider .carousel-cell a.MoreDetails button {
    background-color: transparent !important;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    padding: 0;
    text-align: left;
    width: 25%;
}

section.LandingPage .infromativeSlider .carousel-cell a.MoreDetails button div {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin-right: 15px;
    transition: 0.5s ease all;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 75%;
    top: 60%;
    transform: translate(-50%, -50%);
}

section.LandingPage .infromativeSlider .carousel-cell a.MoreDetails button div svg {
    font-size: 2px;
    color: black;
}

section.LandingPage .infromativeSlider .carousel-cell a.MoreDetails p {
    display: none;
    transition: 1s ease all;
}

.flickity-page-dots, .flickity-prev-next-button.next, .flickity-prev-next-button.previous {
    display: none;
}

/* End Informative Carousel */

/* Map Part */
.Map {
    background-color: #313131;
    opacity: 0.94;
    position: relative;
    overflow: hidden;
}

.Map h4.TitleDescription {
    color: white;
    position: absolute;
    top: 15%;
    left: 5%;
}

.Map .MapBG {
    width: 100%;
    height: 100%;

}

.Map .MapIndex0 {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Map .MapIndex1 {
    top: 55%;
    left: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Map .MapIndex2 {
    top: 53%;
    left: 47%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Map .MapIndex3 {
    top: 57%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Map .MapIndex4 {
    top: 52%;
    left: 54%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Map .MapIndex5 {
    top: 60%;
    left: 48%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.Detail {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 6px #00000029);
    color: #2A7076;
    font-size: 16px;
    line-height: 25px;
    width: 350px;
    height: fit-content;
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 5%;
    display: none;
}

.Detail svg {
    color: #000000;
    font-size: 16px;
}

/*End  Map Part */

/*Newsletter*/
.NewsLetter {
    background-color: hsla(0, 0%, 19%, 0.884);
    filter: drop-shadow(0px 3px 6px #00000029);
}

.NewsLetter h5 {
    color: white;
    font-size: 25px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.NewsLetter input, .NewsLetter button.btn-primary {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
    padding: 20px;

}

.NewsLetter input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #484848;
    opacity: 0.8;
    /* Firefox */
}

.NewsLetter input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #484848;
    opacity: 0.8;

}

.NewsLetter input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #484848;
    opacity: 0.8;
}

.NewsLetter button.btn-primary {
    color: #484848;
    padding: 20px 40px;
}

.NewsLetter button.btn-primary:hover {
    background-color: #484848;
    color: white;
}

/*End NewsLetter*/

/********
*********
End Landing Page Contnet
*********
**********/



/********
*********
Dubai Link 
*********
**********/
#TextCarousel{
    position: absolute;
    top: 25%;
    right: 10%;
    height: 100%;
    width: 50%;
}

#TextCarousel .carousel-item{
    background-color: white;
    padding: 35px;
    width: 100%;
    border-radius: 12px;
    filter:drop-shadow(0px 3px 6px #81818129);
    height: 700px;
}
#TextCarousel .carousel-item p.Description{
    animation: none !important;
    transition: none !important;
    font-size: 22px;
    color: #2A7076;
    line-height: 29px;
}

#TextCarousel .carousel-item p.Description img,section.GTE p.Description img{
    filter: brightness(0);
    width: 0px;
}
#TextCarousel .carousel-item p.Description:hover ,section.GTE p.Description:hover img{
    width: 35px;
}
#carouselDubai .carousel-control-prev,#carouselDubai .carousel-control-next{
    height: fit-content ;
    left: 70%;
    width: 20%;
    opacity: 1 !important;
    z-index: 100;
}

#carouselDubai .carousel-control-prev{
    top: 90%;

}
#carouselDubai .carousel-control-next{
    top: 75%;
}
section.DubaiLink .PhotoDescriptionNoAnim h3.SubTitle{
    font-size: 25px;
    line-height: 34px;
    color: #00808B;
    font-weight: bold;

}
section.DubaiLink .PhotoDescription .servicesCarousel {
    width: 100%;
}
section.DubaiLink .PhotoDescription .servicesCarousel img{
    width: 50%;

}
#carouselDubai .carousel-item,#TextCarousel .carousel-item{
    transition: 0.3s ease all;
}
/********
*********
End Dubai Link 
*********
**********/


/********
*********
About Page
*********
**********/
section.CarouselPart #AboutCarousel .carousel-inner .carousel-item {
    height: 100vh;
}
section.CarouselPart #AboutCarousel .carousel-inner .carousel-item .overlay{
    height: 100%;
}
section.CarouselPart #AboutCarousel #carousel-item-one{
    background-image: url(../images/Aboutbanner.png);
}

.infromativeSliderAbout{
    padding-bottom: 20px;
}
.infromativeSliderAbout .carousel-cell {
    width: 24%;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    height: 450px;
}
  .infromativeSliderAbout .position-relative{
    height: 20% !important;
  }
  .infromativeSliderAbout:before{
    display: none;
  }
  .infromativeSliderAbout .card {
    background-color: transparent;
    border-radius: 12px;
    filter: drop-shadow(0px 3px 6px #81818129);
    border: none;
    
  }
  .infromativeSliderAbout .card .card-body{
    background-color: white;
    text-align: center;
    border-radius: 12px;
    margin-top: 100px;
    height: 100%;
    padding-bottom: 40px !important;
  }
  .infromativeSliderAbout .card .imgbg{
    width: 35%;
    background-color: transparent;
    margin: auto;  
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    filter: drop-shadow(unset);
}
  .infromativeSliderAbout .card img{
    width: 70%;
    border-radius: 5px;
    filter: drop-shadow(unset);

  }
  .infromativeSliderAbout  .card .card-body .card-title{
    color: #00808B;
    font-size: 25px;
    line-height: 34px;
    font-weight: bold;
    text-transform: uppercase;

  }
  .infromativeSliderAbout .card .card-body .card-text{
    color:#00808B ;
    font-size: 22px;
    line-height: 29px;  
}
section.LeaderShipCarousel .carousel-cell {
    height: fit-content;
}
section.LeaderShipCarousel .carousel-cell .card {
    background-color: transparent;
    border-radius: 20px;
    color: white;
    border: none;
    padding: 20px;
}
section.LeaderShipCarousel .carousel-cell .card .card-body{
    background-color:#323232 ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
section.LeaderShipCarousel .carousel-cell .card .card-body .card-title{
    font-size: 32px;
    font-weight: bold;
    line-height: 31px;
}
section.LeaderShipCarousel .carousel-cell .card .card-body .card-text{
    font-size: 21px;
    line-height: 30px;
    opacity: 0.8;
}

/********
*********
End About Page
*********
**********/


/********
*********
GTE Page
*********
**********/
section.GTE .PhotoDescription a{
    text-decoration: none;
}
section.GTE .infromativeSliderAbout .card img{
    width: 100%;
}
section.GTE .infromativeSliderAbout .card .CardHeight{
    height: 60%;
}
section.GTE .infromativeSliderAbout .card .card-body{
    min-height: unset;
    height: 100%;
}
section.GTE .infromativeSliderAbout .card .card-body .card-text{
    font-size: 20px;
    font-weight: lighter;
}
section.GTE .infromativeSliderAbout{
    height: unset;
}
/********
*********
End GTE Page
*********
**********/


/********
*********
Royal Page
*********
**********/


section.Royale .infromativeSliderAbout .card .CardHeight{
    height: 75%;
}
section.Royale .infromativeSliderAbout .card .card-body{
    min-height: unset;
    height: 100%;
}
section.Royale .infromativeSliderAbout .card .card-body .card-text{
    font-size: 20px;
    font-weight: lighter;
}
section.Royale .infromativeSliderAbout{
    height: unset;
}
/********
*********
End Royal Page
*********
**********/

/***************************
************Media *********
****************************/
@media (min-width: 991px){

}
@media (min-width: 768px){

}
@media (min-width: 991px){

}
@media (min-width: 768px){

}