@font-face {
    font-family: Neris-Light;
    src: url(../fonts/Neris/Neris-Light.otf);

}

@font-face {
    font-family: DosisSemiBold;
    src: url(../fonts/Dosis/Dosis-SemiBold.ttf);
}

body {
    direction: ltr;
    font-family: Neris-Light !important;

}

/********
*********
Navbar
*********
**********/

nav.navbar {
    background-color: transparent;
}

nav.navbar ul.navbar-nav {
    text-align: center;
    margin: 0px auto;
    justify-content: space-between;
}

nav.navbar ul.navbar-nav li.nav-item {
    margin-right: 20px;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: white;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    font-weight: 100;
    opacity: 80%;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(211, 211, 211);
}

nav.navbar .NavSocial img:hover {
    filter: brightness(80%);
}

/********
*********
End Navbar
*********
**********/



/********
*********
Carousel
*********
**********/
section.CarouselPart .carousel .carousel-inner .carousel-item {
    background-position: top;
    background-size: 100vw 100vh !important;
    background-repeat: no-repeat;

}

section.CarouselPart .carousel .carousel-inner .carousel-item .overlay {
    background-image: url(../images/OVERLAY.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-one {
    background-image: url(../images/Home1.png);
}


section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-Two {
    background-image: url(../images/Dubailinktravel.png);
}


section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-Three {
    background-image: url(../images/GTE.png);
}

section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-Four {
    background-image: url(../images/RoyalLifestyl.png);
}

section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-Five {
    background-image: url(../images/STS.png);
}

section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-Six {
    background-image: url(../images/tripstick.png);
}

section.CarouselPart .carousel .carousel-inner .carousel-item.carousel-item-Seven {
    background-image: url(../images/NIU.png);
}


section.CarouselPart  .carousel .carousel-inner .carousel-item .carouselImageText {
    z-index: 3;
    color: white;

}

.carouselImageText h1 {
    font-size: 70px;
    text-transform: uppercase;
    line-height: 89px;
    font-family: DosisSemiBold;
}

/********
*********
End Carousel
*********
**********/